{% extends "my_dairy/base.html" %}

{% block content %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="hidden" value="{% add_customer %}" />

  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
